# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.p3d
*.fbx

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Imagery
*.paa
*.png
*.jpg
*.tif

# Backups
*.blend1

# Texturing Saves
*.spp
*.tbscene
*.assbin